    <header class="main-HEader-container">
        <div class= "main-header-container">
            <h1>
                <a class="main-logo" href="/">
                    <span>
                        <i class="fa-sharp fa-solid fa-house main-logo-icon"></i></i>{{title}}
                    </span class="main-logo-text">
                </a>
                <a href="{%url "logout"%}">
                    <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
                </a>
            </h1>

        </div>
    </header>